@model MedicalR.Models.MedicalBillsException.HospitilizationDHRD
<div class="form-row">
    <div class="form-group col-md-2">
        <label for="">Status:</label>

    </div>
    <div class="form-group col-md-2">

        <input type="text" class="form-control" id="status" value="@Model.status">
    </div>
    <div class="form-group col-md-2">
        <label for="">Appln.no:</label>

    </div>
    <div class="form-group col-md-2">

        <input type="text" class="form-control" id="appln_no" value="@Model.appln_no">
    </div>
    <div class="form-group col-md-2">
        <label for="">Date of Request:</label>

    </div>
    <div class="form-group col-md-2">
        @Html.TextBoxFor(m => @Model.date_of_request, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
        @*<input type="text" class="form-control" id="date_of_request" value="@Model.date_of_request">*@
    </div>

</div>
<div class="form-row">
    <div class="form-group col-md-6">
        <label for="">Band Group</label>
        <input type="text" class="form-control" id="band_group" value="@Model.band_group">
    </div>
    <div class="form-group col-md-6">
        <label for="">Name of Patient</label>
        <input type="text" class="form-control" id="name_of_patient" value="@Model.name_of_patient">
    </div>


</div>
<div class="form-row">
    <div class="form-group col-md-6">
        <label for="">Relationship</label>
        <input type="text" class="form-control" id="relationship" value="@Model.relationship">
    </div>

    <div class="form-group col-md-6">
        <label for="">Nature of Illness:</label>
        <input type="text" class="form-control" id="nature_of_illness" value="@Model.nature_of_illness">
    </div>

</div>
<div class="form-row">
    <div class="form-group col-md-2">
        <label for="">Treatment Type:</label>

    </div>
    <div class="form-group col-md-2">

        <input type="text" class="form-control" id="treatment_type" value="@Model.treatment_type">
    </div>
    <div class="form-group col-md-2">
        <label for="">From Date:</label>

    </div>
    <div class="form-group col-md-2">
        @Html.TextBoxFor(m => @Model.from_date, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
        @*<input type="text" class="form-control" id="from_date" value="@Model.from_date">*@
    </div>
    <div class="form-group col-md-2">
        <label for="">To Date:</label>

    </div>
    <div class="form-group col-md-2">
        @Html.TextBoxFor(m => @Model.to_date, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
        @*<input type="text" class="form-control" id="to_date" value="@Model.to_date">*@
    </div>


</div>

<div class="form-row">
    <div class="form-group col-md-2">
        <label for="">Name of Hospital:</label>

    </div>
    <div class="form-group col-md-2">

        <input type="text" class="form-control" id="name_of_hospital" value="@Model.name_of_hospital">
    </div>
    <div class="form-group col-md-2">
        <label for="">Bill No:</label>

    </div>
    <div class="form-group col-md-2">

        <input type="text" class="form-control" id="bill_no" value="@Model.bill_no">
    </div>
    <div class="form-group col-md-2">
        <label for="">Bill Date:</label>

    </div>
    <div class="form-group col-md-2">
        @Html.TextBoxFor(m => @Model.bill_date, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
        @*<input type="text" class="form-control" id="bill_date" value="@Model.bill_date">*@
    </div>


</div>
<div class="form-row">
    <div class="form-group col-md-2"></div>
    <div class="form-group col-md-5">
        <label for="">Whether Hospital Awarded I.T.Rebate Certificate:</label>

    </div>
    <div class="form-group col-md-2">

        <select class="form-control" id="wheather_hospital_awarded_i_t_rebate">
            <option>@Model.wheather_hospital_awarded_i_t_rebate</option>
            

        </select>
    </div>

</div>
<hr />


<div class="form-row">
    <div class="form-group col-md-4">
        <label for="">Medical Claim Forwarded by DHRD in Rs.:</label>

    </div>
    <div class="form-group col-md-4">

        <input type="text" class="form-control" id="medical_claim_forwd_dhrd_inrs" value="@Model.medical_claim_forwd_dhrd_inrs">
    </div>

</div>
<div class="form-row">
    <div class="form-group col-md-4">
        <label for="">Amount Sanction by TMO in Rs.:</label>

    </div>
    <div class="form-group col-md-4">

        <input type="text" class="form-control" id="amount_sanction_by_tmo_inrs" placeholder="Enter Amount">
    </div>

</div>
<div class="form-row">
    <div class="form-group col-md-4">
        <label for="">Balance Amount (Unsettled) in Rs.:</label>

    </div>
    <div class="form-group col-md-4">

        <input type="text" class="form-control" id="balance_amount" value="@Model.balance_amount">
    </div>

</div>

<h6 class="pt-3"><strong>Application Status - Information</strong></h6>

<div class="form-row">

    <div class="form-group col-md-3">
        <label for="">Send Date To TMO:</label>

    </div>
    <div class="form-group col-md-3">
        @Html.TextBoxFor(m => @Model.send_date_to_tmo, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
        @*<input type="text" class="form-control" id="send_date_to_tmo" value="@Model.send_date_to_tmo">*@
    </div>
    <div class="form-group col-md-3">
        <label for="">Received Date from TMO:</label>

    </div>
    <div class="form-group col-md-3">
        @Html.TextBoxFor(m => @Model.received_date_from_tmo, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
        @*<input type="text" class="form-control" id="received_date_from_tmo" value="@Model.received_date_from_tmo">*@
    </div>
</div>


<div class="row">
    <div class="form-group col-md-2"></div>
    
    <div class="form-group col-md-4"> <a href="javascript:void(0)" class="btn btn-primary" id="Save" data-val="1">Save / Update <span class="spinner"></span></a>  </div>


</div>
