@model MedicalR.Models.MedicalBillsException.HospitilizationDHRD
@{
    ViewBag.Title = "HospitalizationDHRDDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-md-12 p-0">
    <ul class="nav">
        <li class="nav-item"> <a class="nav-link" href="/MedicalBillsException/HospitalizationDHRDIndex">Statistics</a> </li>
        @*<li class="nav-item"> <a class="nav-link text-dark" href="javascript:void(0);"><strong>Hospital Cr</strong></a> </li>*@

    </ul>
    <hr class="m-0">
</div>
<article class="col-md-12">
    <div class="row pt-2 bg-light"> </div>
    <div class="row">
        <div class="col-md-3 shadow p-0">
            <hr class="mb-0 mt-0 border-top-0">
            <div class="list-group list-group-flush" id="client-sidebar-info">


            </div>
        </div>
        <div class="col-md-9 mt-3">
            <ul class="nav nav-pills mb-3" id="clients-tab" role="tablist">
                <li class="nav-item" role="presentation" data-tab="info"> <a href="javascript:void(0);" class="nav-link active" data-target="/MedicalBillsException/_HospitalizationDHRDAdd/@ViewBag.Client_ID">Hospitalization DHRD</a> </li>

                @*<li class="nav-item" role="presentation" data-tab="info"> <a href="javascript:void(0);" class="nav-link active" data-target="/MedicalRequest/_NewRequest">New Request</a> </li>*@
                @*<li class="nav-item @(@ViewBag.Client_ID > 0 ? "" :"disabled")" role="presentation" data-tab="Details"> <a href="javascript:void(0);" class="nav-link" data-target="/Notes/_SearchNotes?PageID=1">Past Details</a> </li>
                <li class="nav-item @(@ViewBag.Client_ID > 0 ? "" :"disabled")" role="presentation" data-tab="notes"> <a href="javascript:void(0);" class="nav-link" data-target="/Notes/_SearchNotes?PageID=1">Notes</a> </li>
                <li class="nav-item @(@ViewBag.Client_ID > 0 ? "" :"disabled")" role="presentation" data-tab="attachments"> <a href="javascript:void(0);" class="nav-link" data-target="/Attachments/_SearchAttachments?PageID=1">Attachments</a> </li>*@

            </ul>
            <hr>

            <div class="tab-content" id="client-tabContent">

            </div>
        </div>
    </div>

</article>
<input type="hidden" value="0" id="employee_id" class="hdnRelevantID" />
<input type="hidden" value="@ViewBag.Client_ID" id="emplid" class="hdnRelevantID" />
<input type="hidden" value="@ViewBag.EmpCode" id="EmpCode" class="hdnRelevantID" />
<script>
    var clientID = @ViewBag.Client_ID;
    var activeTab = window.location.hash.substring(1);
    if(activeTab=="" || clientID>0)
    {
        activeTab="info";
        window.location.hash = '#'+activeTab;

    }
    var activeView = $("#clients-tab li[data-tab='"+activeTab+"']").find("a.nav-link").data("target");
    LoadClientViews(activeView);
    LoadEmpsidebarViews();

    function LoadClientViews(targetView)
    {
        $("#clients-tab a").removeClass("active");
        $("#clients-tab a[data-target='" + targetView + "']").addClass("active");
        $("#loader").show();
        $.ajax({
            url: targetView,
            type: "post",
            data :{"clientID":clientID},
            dataType: "html",
            success: function (result) {
                $("#client-tabContent").html(result);
                $('#client-tabContent table').DataTable();
            },
            error: function (xhr) {
                if (xhr.status === 401) {
                    window.location.reload();
                    return;
                }
                $("#loader").hide();
            }

        });
    }
    function LoadEmpsidebarViews()
    {
        $.ajax({
            url: "/MedicalBillsException/HospitilizationDHRDSidebar",
            type: "post",            
            dataType: "html",
            success: function (result) {
                $("#client-sidebar-info").html(result);
            },
            error: function (xhr) {
                if (xhr.status === 401) {
                    window.location.reload();
                    return;
                }
            }

        });
    }
    $(document).ready(function () {

        $("body").on("click", "#Save", function () {
            $(this).css("pointer-events", "none");
            var btn = $(this);
            var retStatus = true;
            $(".has-error").html("");
            var buttonValue = $(this).data("val");
            var appln_no = $("#appln_no").val().trim();
            var date_of_request = $("#date_of_request").val().trim();
            var band_group = $("#band_group").val().trim();
            var name_of_patient = $("#name_of_patient").val().trim();
            var relationship = $("#relationship").val().trim();
            var nature_of_illness = $("#nature_of_illness").val().trim();
            var treatment_type = $("#treatment_type").val().trim();
            var from_date = $("#from_date").val().trim();
            var to_date = $("#to_date").val().trim();
            var name_of_hospital = $("#name_of_hospital").val().trim();
            var bill_no = $("#bill_no").val().trim();
            var bill_date = $("#bill_date").val().trim();
            var wheather_hospital_awarded_i_t_rebate = $("#wheather_hospital_awarded_i_t_rebate").val().trim();
            var medical_claim_forwd_dhrd_inrs = $("#medical_claim_forwd_dhrd_inrs").val().trim();
            var amount_sanction_by_tmo_inrs = $("#amount_sanction_by_tmo_inrs").val().trim();
            var balance_amount = $("#balance_amount").val().trim();            
            var send_date_to_tmo = $("#send_date_to_tmo").val().trim();
            var received_date_from_tmo = $("#received_date_from_tmo").val().trim();
            var status = $("#status").val().trim();
            var emplid = $("#emplid").val().trim();


            if (amount_sanction_by_tmo_inrs == "") {
                $("#amount_sanction_by_tmo_inrs").parent().find(".has-error").html("Required*");
                retStatus = false;
            }

            if (retStatus == true) {
                setTimeout(function () { $(btn).css("pointer-events", "unset"); }, 3000);
                 var formData = new FormData();

                 formData.append("appln_no", appln_no);
                 formData.append("date_of_request", date_of_request);
                 formData.append("band_group", band_group);
                 formData.append("name_of_patient", name_of_patient);
                 formData.append("relationship", relationship);
                 formData.append("nature_of_illness", nature_of_illness);
                 formData.append("treatment_type", treatment_type);
                 formData.append("from_date", from_date);
                 formData.append("to_date", to_date);
                 formData.append("name_of_hospital", name_of_hospital);
                 formData.append("bill_no", bill_no);
                 formData.append("bill_date", bill_date);
                 formData.append("wheather_hospital_awarded_i_t_rebate", wheather_hospital_awarded_i_t_rebate);
                 formData.append("medical_claim_forwd_dhrd_inrs", medical_claim_forwd_dhrd_inrs);
                 formData.append("amount_sanction_by_tmo_inrs", amount_sanction_by_tmo_inrs);
                 formData.append("balance_amount", balance_amount);                
                 formData.append("send_date_to_tmo", send_date_to_tmo);
                 formData.append("received_date_from_tmo", received_date_from_tmo);
                 formData.append("status", status);
                 formData.append("emplid", emplid);


                $(btn).attr("data-loading", "");

                 var url = "/Clients/UpdateClient";

                if (clientID > 0) {
                    url = "/MedicalBillsException/HospitalDHRDSave";
                }

                $.ajax({
                    url: url,
                    type: "Post",
                    data: formData,
                    dataType: "json",
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        if (result["Status"] == true) {
                            toastr["success"](result["Message"]);
                            if (buttonValue == 1) {
                                window.location.href = "/MedicalBillsException/HospitalizationDHRDIndex";
                            }
                            else if (buttonValue == 2) {
                                $("#client-tabContent input").val('');
                                $("#client-tabContent textarea").val('');
                                $("#client-tabContent select").val('');
                            }
                            else {
                                LoadEmpsidebarViews();
                            }
                        }
                        else {
                            toastr["error"](result["Message"]);
                        }
                        $(btn).removeAttr("data-loading");

                    },
                    error: function (xhr) {
                        if (xhr.status === 401) {
                            window.location.reload();
                            return;
                        }
                        $(btn).removeAttr("data-loading");
                        toastr["error"]("Something went wrong. Please try after some time.");
                    }
                });
            }
            else {
                $(this).css("pointer-events", "unset");
            }
        })
    });
   



</script>


