@model MedicalR.Models.UserManagement.SideBarinfoModel
<div class="list-group-item list-group-item-action">
    <h6 class="font-weight-bold">EmplID <span class="small"><br /> @Model.employeecode</span></h6>
</div>
<div class="list-group-item list-group-item-action">
    <h6 class="font-weight-bold">@Model.username</h6>
</div>

<div class="list-group-item list-group-item-action">
    <h6 class="font-weight-bold">Band <span class="small"><br /> @Model.Band</span></h6>
</div>
<div class="list-group-item list-group-item-action">
    <h6 class="font-weight-bold">Department <span class="small"><br /> @Model.Department</span></h6>
</div>
<div class="list-group-item list-group-item-action">
    <h6 class="font-weight-bold">Designation <span class="small"><br /> @Model.Designation</span></h6>
</div>
<div class="list-group-item list-group-item-action">
    <h6 class="font-weight-bold">Email <span class="small"><br /> <a href="mailto:@*@Model.clientEmail*@"> @Model.email</a></span></h6>
</div>
<div class="list-group-item list-group-item-action">
    <h6 class="font-weight-bold">Location <span class="small"><br /> @Model.locationcode</span></h6>
</div>




