@model IEnumerable<MedicalR.Models.CommonSettings.HospitalListModel>

@{
    ViewBag.Title = "Hospital_list";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12 p-0 headerstatics">
    <ul class="nav">
        <li class="nav-item"> <a class="nav-link text-dark" href="#"><strong>Statistics</strong></a> </li>
        <li class="nav-item"> <a class="nav-link" href="/settings/Hospital_list/0/add">Hospital Master</a> </li>
    </ul>
    <hr class="m-0">
    <a href="/settings/Hospital_list/0/add" class="btn btn-secondary plusbut float-right mr-3 m-2">+</a>
</div>
<article class="col-md-12" >

    @*<div class="pt-3">
            <div id="sidemain" class="float-left pl-1"> <span class="btn btn-primary" style="cursor:pointer" onclick="openNav()"><i class="fa fa-search text-light mr-3"></i> FILTER BY</span> </div>
            <div class="">
                <select class="custom-select col-sm-2" id="inlineFormCustomSelect" onchange="location = this.options[this.selectedIndex].value;">
                    <option selected>Action</option>
                    <option value="">Print</option>
                    <option value="">Export To Excel</option>
                    <option value="">Export To Pdf</option>
                </select>
                <a href="/settings/Hospital_list/0/add" class="btn btn-secondary plusbut float-right ml-1">+</a>
            </div>
        </div>*@
    @* <input type="text" id="tableSearch" class="table-search form-control col-md-2 float-right" placeholder="Search..." />*@
    <table id="dtBasicExample" class="table table-hover table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                @*<th class="th-sm">HospitalID</th>*@
                <th class="th-sm">Hospital Name</th>
                <th class="th-sm">City</th>
                <th class="th-sm">Pin Code</th>
                <th class="th-sm">Hosp.Bank Name</th>
                <th class="th-sm">Hosp.Bank A/C</th>
                <th class="th-sm">Hosp.Bank IFSC</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    @*<td>@item.id</td>*@
                    <td><span style="cursor:pointer" onclick="openBar()"></span> <a href="/settings/Hospital_list/@item.id/edit">@item.Name</a></td>
                    @*<td>@item.Name</td>*@
                    <td>@item.City</td>
                    <td>@item.Pincode</td>
                    <td>@item.hosp_bank_name</td>
                    <td>@item.hosp_bank_accno</td>
                    <td>@item.bank_ifsc_code</td>
                </tr>
            }
        </tbody>
    </table>
    @if (Model.Count() == 0)
    {
        <div class="no-data-found">No Data Found</div>
    }
</article>

@*<script>
        $(document).ready(function () {
            $('#dtBasicExample').DataTable();
            $('.dataTables_length').addClass('bs-select');
        });
    </script>*@

@section Scripts {
    <script>
        $(function () {

            if ($.fn.DataTable.isDataTable('#dtBasicExample')) {
                $('#dtBasicExample').DataTable().destroy();
            }

            $('#dtBasicExample').DataTable({
                paging: true,
                searching: true,
                ordering: true,
                info: true,
                lengthChange: true
            });

        });
    </script>
}


