@model MedicalR.Models.CommonSettings.ObjectionModel

@{
    ViewBag.Title = "Objection_Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12 p-0">
    <ul class="nav">
        <li class="nav-item"> <a class="nav-link" href="/settings/Objection">Statistics</a> </li>
        <li class="nav-item"> <a class="nav-link text-dark" href="javascript:void(0);"><strong>Create Objection</strong></a> </li>

    </ul>
    <hr class="m-0">
</div>
<article class="col-md-12">
    <div class="row pt-2 pb-2 bg-light">
        <div class="col-md-12">
            <h3>Create Objection</h3>
        </div>
    </div>
    <hr>
    <form>
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="">Code <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="Obj_Code" placeholder="Treatement Type" value="@Model.Obj_Code">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="">Description<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="Obj_Desc" placeholder="Expense Type" value="@Model.Obj_Desc">
                    </div>

                </div>
            </div>

            <div class="row pt-3">
                <input type="hidden" id="ID" value="@Model.Id" />
                <div class="col-md-12 mt-5">
                    <a href="javascript:void(0)" class="btn btn-primary" id="EditObjection" data-val="1">Save</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="javascript:void(0)" class="btn btn-primary" id="DelObjection" data-val="2">Delete</a>
                </div>
            </div>
        </div>
    </form>
</article>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    $(document).ready(function () {

        $("#EditObjection").click(function () {

          var buttonValue = $(this).data("val");
            var RetStatus = true;
          $(".has-error").html("");
            var ID = $("#ID").val().trim();
            var Obj_Code = $("#Obj_Code").val().trim();
            var Obj_Desc = $("#Obj_Desc").val().trim();



            if (Obj_Code == "")
            {
                $("#Obj_Code").parent().find(".has-error").html("Required*");
                $("#Obj_Code").focus();
                 RetStatus = false;
            }
            if (Obj_Desc == "")
            {
                $("#Obj_Desc").parent().find(".has-error").html("Required*");
                $("#Obj_Desc").focus();
                RetStatus = false;
            }

            if(RetStatus==true)
            {
                var data = {
                    "ID": ID,
                    "Obj_Code": Obj_Code,
                    "Obj_Desc": Obj_Desc

                };
                $.ajax({
                    url: "/Settings/UpdateObjection",
                    type: "post",
                    data: JSON.stringify(data),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        if (result["Status"] ==true)
                        {
                            toastr["success"](result["Message"]);

                           window.location.href = "@Url.Action("Objection", "Settings")";
                        }
                        else
                        {
                            toastr["error"](result["Message"]);
                        }
                    },
                    error: function (xhr) {
                        if (xhr.status === 401) {
                            window.location.reload();
                            return;
                        }
                        toastr["error"]("Something went wrong. Please try after some time.");
                    }
                });
            }
        })
        $("#DelObjection").click(function () {

          var buttonValue = $(this).data("val");
            var RetStatus = true;
          $(".has-error").html("");
            var ID = $("#ID").val().trim();
            var Obj_Code = $("#Obj_Code").val().trim();
            var Obj_Desc = $("#Obj_Desc").val().trim();


            if (Obj_Code == "") {
                $("#Obj_Code").parent().find(".has-error").html("Required*");
                $("#Obj_Code").focus();
                RetStatus = false;
            }
            if (Obj_Desc == "") {
                $("#Obj_Desc").parent().find(".has-error").html("Required*");
                $("#Obj_Desc").focus();
                RetStatus = false;
            }


            if(RetStatus==true)
            {
                var data = {
                    "ID": ID,
                    "Obj_Code": Obj_Code,
                    "Obj_Desc": Obj_Desc

                };
                $.ajax({
                    url: "/Settings/ObjectionStatus",
                    type: "post",
                    data: JSON.stringify(data),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        if (result["Status"] ==true)
                        {
                            toastr["success"](result["Message"]);

                           window.location.href = "@Url.Action("Objection", "Settings")";
                        }
                        else
                        {
                            toastr["error"](result["Message"]);
                        }
                    },
                    error: function (xhr) {
                        if (xhr.status === 401) {
                            window.location.reload();
                            return;
                        }
                        toastr["error"]("Something went wrong. Please try after some time.");
                    }
                });
            }
        })

    })
</script>