@model IEnumerable<MedicalR.Models.RetiredEmployee.RempDemiseModel>

@{
    ViewBag.Title = "RetiredEmpDemise";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12 p-0">
    <ul class="nav">
        <li class="nav-item"> <a class="nav-link text-dark" href="#"><strong>Statistics</strong></a> </li>
        <li class="nav-item"> <a class="nav-link" href="/ReitredEmployee/RetiredEmpDemise/0/add">Employee Name</a> </li>
    </ul>
    <hr class="m-0">
</div>
<article class="col-md-12">
    <div class="col-md-12 p-0">
        <ul class="nav">
            <li class="nav-item"> <a class="nav-link text-dark" href="#"><strong>Statistics</strong></a> </li>
            <li class="nav-item"> <a class="nav-link" href="/ReitredEmployee/RetiredEmpDemise/0/add">Employee Name</a> </li>
        </ul>
        <hr class="m-0">
        <a href="/ReitredEmployee/RetiredEmpDemise/0/add" class="btn btn-secondary plusbut float-right ml-1">+</a>
    </div>

    @*<div class="pt-3">
            <div class="">

            </div>
        </div>*@

    <br />
    <div class="col-md-12 p-0 mt-4" >
        @*<input type="text" id="tableSearch" class="table-search form-control col-md-2 float-right" placeholder="Search..." />*@
        <table id="dtBasicExample" class="table table-hover table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="th-sm">EmpID</th>
                    <th class="th-sm">Spouse Name</th>
                    <th class="th-sm">Spouse Bank Name</th>
                    <th class="th-sm">IFSC Code</th>
                    <th class="th-sm">Account No</th>
                    <th class="th-sm text-right">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>@item.EmpId</td>
                        <td>@item.name</td>
                        <td>@item.Sbankname</td>
                        <td>@item.Sifsccode</td>
                        <td>@item.Saccno</td>
                        <td>
                            <select class="custom-select dropright sel" id="inlineFormCustomSelect" onchange="location = this.options[this.selectedIndex].value;">
                                <option selected>Select </option>
                                <option value="/ReitredEmployee/RetiredEmpDemise/@item.Id/edit">Edit</option>
                                <option value="/ReitredEmployee/RetiredEmpDemise/@item.Id/edit">Delete</option>

                            </select>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @*@if (Model.Count() == 0)
        {
            <div class="no-data-found">No Data Found</div>
        }*@
</article>
@*</article>*@

@*<script>
        $(document).ready(function () {
            $('#dtBasicExample').DataTable();
            $('.dataTables_length').addClass('bs-select');
        });
    </script>*@

@section Scripts {
    <script>
        $(function () {

            if ($.fn.DataTable.isDataTable('#dtBasicExample')) {
                $('#dtBasicExample').DataTable().destroy();
            }

            $('#dtBasicExample').DataTable({
                paging: true,
                searching: true,
                ordering: true,
                info: true,
                lengthChange: true
            });

        });
    </script>
}

