
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12 p-0">
    <ul class="nav">
        <li class="nav-item"> <a class="nav-link" href="/CHCBillProcess">Statistics</a> </li>
        @*<li class="nav-item"> <a class="nav-link text-dark" href="javascript:void(0);"><strong>Request form</strong></a> </li>*@

    </ul>
    <hr class="m-0">
</div>
<article class="col-md-12">
    <div class="row pt-2 bg-light"> </div>
    <div class="row">
        <div class="col-md-3 shadow p-0">
            <hr class="mb-0 mt-0 border-top-0">
            <div class="list-group list-group-flush" id="client-sidebar-info">


            </div>
        </div>
        <div class="col-md-9 mt-3">
            <ul class="nav nav-pills mb-3" id="clients-tab" role="tablist">
                <li class="nav-item" role="presentation" data-tab="info"> <a href="javascript:void(0);" class="nav-link active" data-target="/CHCBillProcess/_ProcessPayment/@ViewBag.Client_ID">Process Payment</a> </li>

                @*<li class="nav-item" role="presentation" data-tab="info"> <a href="javascript:void(0);" class="nav-link active" data-target="/MedicalRequest/_NewRequest">New Request</a> </li>*@
                @*<li class="nav-item @(@ViewBag.Client_ID > 0 ? "" :"disabled")" role="presentation" data-tab="Details"> <a href="javascript:void(0);" class="nav-link" data-target="/Notes/_SearchNotes?PageID=1">Past Details</a> </li>
                    <li class="nav-item @(@ViewBag.Client_ID > 0 ? "" :"disabled")" role="presentation" data-tab="notes"> <a href="javascript:void(0);" class="nav-link" data-target="/Notes/_SearchNotes?PageID=1">Notes</a> </li>
                    <li class="nav-item @(@ViewBag.Client_ID > 0 ? "" :"disabled")" role="presentation" data-tab="attachments"> <a href="javascript:void(0);" class="nav-link" data-target="/Attachments/_SearchAttachments?PageID=1">Attachments</a> </li>*@

            </ul>
            <hr>

            <div class="tab-content" id="client-tabContent">

            </div>
        </div>
    </div>

</article>
<input type="hidden" value="0" id="employee_id" class="hdnRelevantID" />
<input type="hidden" value="@ViewBag.Client_ID" id="emplid" class="hdnRelevantID" />
<input type="hidden" value="@ViewBag.EmpCode" id="EmpCode" class="hdnRelevantID" />

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    var clientID = @ViewBag.Client_ID;
    var activeTab = window.location.hash.substring(1);
    if(activeTab=="" || clientID>0)
    {
        activeTab="info";
        window.location.hash = '#'+activeTab;

    }
    var activeView = $("#clients-tab li[data-tab='"+activeTab+"']").find("a.nav-link").data("target");
    LoadClientViews(activeView);
    LoadEmpsidebarViews();

    function LoadClientViews(targetView)
    {
        $("#clients-tab a").removeClass("active");
        $("#clients-tab a[data-target='" + targetView + "']").addClass("active");
        $("#loader").show();
        $.ajax({
            url: targetView,
            type: "post",
            data :{"clientID":clientID},
            dataType: "html",
            success: function (result) {
                $("#client-tabContent").html(result);
                $('#client-tabContent table').DataTable();
            },
            error: function (xhr) {
                if (xhr.status === 401) {
                    window.location.reload();
                    return;
                }
                $("#loader").hide();
            }

        });
    }
    function LoadEmpsidebarViews()
    {
        $.ajax({
            url: "/CHCBillProcess/_Empsidebarinfo",
            type: "post",
            dataType: "html",
            success: function (result) {
                $("#client-sidebar-info").html(result);
            },
            error: function (xhr) {
                if (xhr.status === 401) {
                    window.location.reload();
                    return;
                }
            }

        });
    }

    function AmountValidation() {


        var fieldVal = document.getElementById('amount').value;

        if (fieldVal <= 8000) {

        }
        else {
            toastr["error"]("Amount cannot be more than 8000");
            return;
           // document.getElementById('amount').value = '';
        }
    }
    function AmountValidationsps() {


        var fieldVal = document.getElementById('spouse_amount').value;

        if (fieldVal <= 8000) {
            return true;
        }
        else {
            toastr["error"]("Amount cannot be more than 8000");
            return;
        }
    }

    $(document).ready(function () {

        $("body").on("click", "#Approve", function () {
            //$(this).css("pointer-events", "none");
            var btn = $(this);
            var retStatus = true;
            $(".has-error").html("");
           var buttonValue = $(this).data("val");
            var relationship = $("#relationship").val();

            debugger;
            if (relationship == "Self and Spouse")
            {

                var id = clientID;
                var emplid = $("#emplid").val();
                var employee_name = $("#employee_name").val();
                var chc_centerid = $("#chc_centerid").val();
                var bill_no = $("#bill_no").val();
                var amount = $("#amount").val();

                if (bill_no == "" || bill_no === undefined) {
                    $("#bill_no").parent().find(".has-error").html("Required*");
                    toastr["error"]("Bill No is Required !");
                    return;
                }

                if (amount == "" || amount === undefined) {
                    $("#amount").parent().find(".has-error").html("Required*");
                    toastr["error"]("Amount is Required !");
                    return;
                }

                if ((parseInt(amount) > 8000 || parseInt(amount) === 0) && (parseInt(chc_centerid)===4)) {
                    toastr["error"]("Amount for self cannot be more than 8000");
                    return;
                }

                // var tax_in_rs = $("#tax_in_rs").val().trim();
                var name_of_spouse = $("#name_of_spouse").val();
                var spouse_chc_centerid = $("#spouse_chc_centerid").val();
                var spouse_bill_no = $("#spouse_bill_no").val();
                var spouse_amount = $("#spouse_amount").val();

                if (spouse_bill_no == "" || spouse_bill_no === undefined) {
                    $("#bill_no").parent().find(".has-error").html("Required*");
                    toastr["error"]("Spouse bill no is Required !");
                    return;
                }
                var relationship = $("#relationship").val();

                if (spouse_amount == "" || spouse_amount === undefined) {
                    $("#spouse_amount").parent().find(".has-error").html("Required*");
                    toastr["error"]("Spouse amount is Required !");
                    return;
                }

                if ((parseInt(spouse_amount) > 8000 || parseInt(spouse_amount) === 0) && (parseInt(chc_centerid) === 4)) {
                    toastr["error"]("Amount for spouse cannot be more than 8000");
                    return;
                }
                    setTimeout(function () { $(btn).css("pointer-events", "unset"); }, 3000);
                    var formData = new FormData();
                    formData.append("id", clientID);
                    formData.append("emplid", emplid);
                    formData.append("employee_name", employee_name);
                    formData.append("chc_centerid", chc_centerid);
                    formData.append("bill_no", bill_no);
                    formData.append("amount", amount);
                    // formData.append("tax_in_rs", tax_in_rs);
                    formData.append("name_of_spouse", name_of_spouse);
                    formData.append("spouse_chc_centerid", spouse_chc_centerid);
                    formData.append("spouse_bill_no", spouse_bill_no);
                    formData.append("spouse_amount", spouse_amount);
                    formData.append("relationship", relationship);


                    $(btn).attr("data-loading", "");

                    // var url = "/Clients/UpdateClient";

                    if (clientID > 0) {
                        url = "/CHCBillProcess/AddBillProcess";
                    }

                    $.ajax({
                        url: url,
                        type: "Post",
                        data: formData,
                        dataType: "json",
                        contentType: false,
                        processData: false,
                        success: function (result) {
                            if (result["Status"] == true) {
                                toastr["success"](result["Message"]);
                                if (buttonValue == 1) {
                                    window.location.href = "/CHCBillProcess";
                                }
                                else if (buttonValue == 2) {
                                    $("#client-tabContent input").val('');
                                    $("#client-tabContent textarea").val('');
                                    $("#client-tabContent select").val('');
                                }
                                else {
                                    LoadEmpsidebarViews();
                                }
                            }
                            else {
                                toastr["error"](result["Message"]);
                            }
                            $(btn).removeAttr("data-loading");

                        },
                        error: function (xhr) {
                            if (xhr.status === 401) {
                                window.location.reload();
                                return;
                            }
                            $(btn).removeAttr("data-loading");
                            toastr["error"]("Something went wrong. Please try after some time.");
                        }
                    });
                }
                else {
                    $(this).css("pointer-events", "unset");
                }

            if (relationship == "self")
            {
                var id = clientID;
                var emplid = $("#emplid").val();
                var employee_name = $("#employee_name").val();
                var chc_centerid = $("#chc_centerid").val();
                var bill_no = $("#bill_no").val();
                var amount = $("#amount").val();


                if ((parseInt(amount) > 8000 || parseInt(amount)===0)&& (parseInt(chc_centerid)===4)) {
                    toastr["error"]("Amount cannot be more than 8000");
                    return;
                }
                var relationship = $("#relationship").val();

                if (bill_no == "" || bill_no===undefined) {
                    $("#bill_no").parent().find(".has-error").html("Required*");
                    toastr["error"]("Bill No is Required !");
                    return
                }

                if (amount == "" || amount===undefined) {
                    $("#amount").parent().find(".has-error").html("Required*");
                    toastr["error"]("Amount is Required !");
                    return
                }

                    setTimeout(function () { $(btn).css("pointer-events", "unset"); }, 3000);
                    var formData = new FormData();
                    formData.append("id", clientID);
                    formData.append("emplid", emplid);
                    formData.append("employee_name", employee_name);
                    formData.append("chc_centerid", chc_centerid);
                    formData.append("bill_no", bill_no);
                    formData.append("amount", amount);
                    formData.append("relationship", relationship);

                    $(btn).attr("data-loading", "");

                    // var url = "/Clients/UpdateClient";

                    if (clientID > 0) {
                        url = "/CHCBillProcess/AddBillProcess";
                    }

                    $.ajax({
                        url: url,
                        type: "Post",
                        data: formData,
                        dataType: "json",
                        contentType: false,
                        processData: false,
                        success: function (result) {
                            if (result["Status"] == true) {
                                toastr["success"](result["Message"]);
                                if (buttonValue == 1) {
                                    window.location.href = "/CHCBillProcess";
                                }
                                else if (buttonValue == 2) {
                                    $("#client-tabContent input").val('');
                                    $("#client-tabContent textarea").val('');
                                    $("#client-tabContent select").val('');
                                }
                                else {
                                    LoadEmpsidebarViews();
                                }
                            }
                            else {
                                toastr["error"](result["Message"]);
                            }
                            $(btn).removeAttr("data-loading");

                        },
                        error: function (xhr) {
                            if (xhr.status === 401) {
                                window.location.reload();
                                return;
                            }
                            $(btn).removeAttr("data-loading");
                            toastr["error"]("Something went wrong. Please try after some time.");
                        }
                    });
                }
                else {
                    $(this).css("pointer-events", "unset");
                }

            if (relationship == "spouse")
            {
                //AmountValidationsps();
                var id = clientID;
                var emplid = $("#emplid").val();
               // var employee_name = $("#employee_name").val().trim();
                var name_of_spouse = $("#name_of_spouse").val();
                var spouse_chc_centerid = $("#spouse_chc_centerid").val();
                var spouse_bill_no = $("#spouse_bill_no").val();
                var spouse_amount = $("#spouse_amount").val();

                if ((parseInt(spouse_amount) > 8000 || parseInt(spouse_amount)===0)&& (parseInt(spouse_chc_centerid)===4)) {
                    toastr["error"]("Amount cannot be more than 8000");
                    return;
                }
                var relationship = $("#relationship").val();

                if (spouse_bill_no == "" ||spouse_bill_no===undefined) {
                    $("#spouse_bill_no").parent().find(".has-error").html("Required*");
                    toastr["error"]("Spouse Bill No is Required !");
                    return;
                }

                if (spouse_amount == "" || spouse_amount===undefined) {
                    $("#spouse_amount").parent().find(".has-error").html("Required*");
                    toastr["error"]("Spouse amount is Required !");
                    return
                }
                    setTimeout(function () { $(btn).css("pointer-events", "unset"); }, 3000);
                    var formData = new FormData();
                    formData.append("id", clientID);
                    formData.append("emplid", emplid);
                    //formData.append("employee_name", employee_name);
                    formData.append("name_of_spouse", name_of_spouse);
                    formData.append("spouse_chc_centerid", spouse_chc_centerid);
                    formData.append("spouse_bill_no", spouse_bill_no);
                    formData.append("spouse_amount", spouse_amount);
                    formData.append("relationship", relationship);


                    $(btn).attr("data-loading", "");

                    // var url = "/Clients/UpdateClient";

                    if (clientID > 0) {
                        url = "/CHCBillProcess/AddBillProcess";
                    }

                    $.ajax({
                        url: url,
                        type: "Post",
                        data: formData,
                        dataType: "json",
                        contentType: false,
                        processData: false,
                        success: function (result) {
                            if (result["Status"] == true) {
                                toastr["success"](result["Message"]);
                                if (buttonValue == 1) {
                                    window.location.href = "/CHCBillProcess";
                                }
                                else if (buttonValue == 2) {
                                    $("#client-tabContent input").val('');
                                    $("#client-tabContent textarea").val('');
                                    $("#client-tabContent select").val('');
                                }
                                else {
                                    LoadEmpsidebarViews();
                                }
                            }
                            else {
                                toastr["error"](result["Message"]);
                            }
                            $(btn).removeAttr("data-loading");

                        },
                        error: function (xhr) {
                            if (xhr.status === 401) {
                                window.location.reload();
                                return;
                            }
                            $(btn).removeAttr("data-loading");
                            toastr["error"]("Something went wrong. Please try after some time.");
                        }
                    });
                }
                else {
                    $(this).css("pointer-events", "unset");
                }

        })
        $("body").on("click", "#Hold", function () {
            $(this).css("pointer-events", "none");
            var btn = $(this);
            var retStatus = true;
            $(".has-error").html("");
            var buttonValue = $(this).data("val");


                var id = clientID;



                if (retStatus == true) {
                    setTimeout(function () { $(btn).css("pointer-events", "unset"); }, 3000);
                    var formData = new FormData();
                    formData.append("id", clientID);


                    $(btn).attr("data-loading", "");

                    // var url = "/Clients/UpdateClient";

                    if (clientID > 0) {
                        url = "/CHCBillProcess/HoldBillProcess";
                    }

                    $.ajax({
                        url: url,
                        type: "Post",
                        data: formData,
                        dataType: "json",
                        contentType: false,
                        processData: false,
                        success: function (result) {
                            if (result["Status"] == true) {
                                toastr["success"](result["Message"]);
                                if (buttonValue == 1) {
                                    window.location.href = "/CHCBillProcess";
                                }
                                else if (buttonValue == 2) {
                                    $("#client-tabContent input").val('');
                                    $("#client-tabContent textarea").val('');
                                    $("#client-tabContent select").val('');
                                }
                                else {
                                    LoadEmpsidebarViews();
                                }
                            }
                            else {
                                toastr["error"](result["Message"]);
                            }
                            $(btn).removeAttr("data-loading");

                        },
                        error: function (xhr) {
                            if (xhr.status === 401) {
                                window.location.reload();
                                return;
                            }
                            $(btn).removeAttr("data-loading");
                            toastr["error"]("Something went wrong. Please try after some time.");
                        }
                    });
                }
                else {
                    $(this).css("pointer-events", "unset");
                }


        })

    });




</script>


