@model IEnumerable<MedicalR.Models.MedicalR.SanctionMedicalBillsModel>
@{
    ViewBag.Title = "Annexure";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <style>
        /* Style the body */
        body {
            font-family: Arial;
            margin: 0;
        }

        ex1 {
            border: 1px solid red;
            padding: 35px;
        }
        /* Header/Logo Title */
        .header {
            margin: auto;
            width: 60%;
            border: 1px solid black;
            padding: 20px;
            color: black;
            font-size: 12px;
            border-color: black;
            /* border: 1px solid red;
        padding: 20px;
        color: black;
        font-size: 10px;
        border-color:black;*/
        }

        .contents {
            margin: auto;
            width: 60%;
            padding: 5px;
            color: black;
            font-size: 16px;
        }

        /* Page Content */
        .content {
            padding: 20px;
        }
    </style>
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 p-0">
            @*<ul class="nav">
                    <li class="nav-item"> <a class="nav-link text-dark" href="javascript:void(0);"><strong>Statistics</strong></a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#">Bill Process</a> </li>
                </ul>*@
            <hr class="m-0">
        </div>
        <article class="col-md-12">
            <div class="pt-3">
            </div>
            <div class="pt-3">
            </div>
            <div class="pt-3">
            </div>
            <div class="pt-3">

            </div>
            <div class="row">
                <div class="form-group col-md-6"></div>
                <div class="form-group col-md-4"></div>
                <button type="button" class="btn-primary" onclick="getPDF()">Print</button>
            </div>
            <div class="PDF">
                <div class="row" id="contnet">
                    <div class="header">
                        <h3 style="text-align: center"><strong>-:Office Note:-</strong></h3>
                        <h6 style="text-align: center"><strong>[Annexure-I]</strong></h6>
                        <h6 style="text-align: right"><span></span><span style="word-spacing:1px "></span><span style="word-spacing: 100px">. Date</span><span style="word-spacing:1px "> : </span> </h6>
                        @*<%--  <p style="text-align:center"><span style=""> </span><br /><span style="word-spacing:60px"> </span></p>--%>*@
                    </div>
                    <div class="contents">

                        <h3 style="text-align:center; color:cornflowerblue">List of Sanctioned Cases</h3>



                        <table id="dtBasicExample" class="table table-hover table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>


                                    <th class="th-sm">Empl Code</th>
                                    <th class="th-sm">Name</th>
                                    <th class="th-sm">BatchID</th>
                                    <th class="th-sm">Appln.No</th>
                                    <th class="th-sm">Claimed Rs.</th>
                                    <th class="th-sm">Sanctioned Rs.</th>


                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>


                                        <td>@item.employeecode</td>
                                        <td>@item.employeename</td>
                                        <td>@item.batch_no</td>
                                        <td>@item.appln_no</td>
                                        <td>@item.total_claimed_rs</td>
                                        <td>@item.total_claimed_rs</td>



                                    </tr>
                                }


                            </tbody>
                        </table>
                        @if (Model.Count() == 0)
                        {
                            <div class="no-data-found">No Data Found</div>
                        }
                        <div class="row">

                            <div class="form-group col-md-4">
                                <label for="">Sum Total Claimed Rs. <span id="val">.</span></label>
                            </div>
                            <div class="form-group col-md-2"></div>
                            <div class="form-group col-md-4">
                                <label for="">Application Received. <span id="appcount">.</span></label>
                            </div>
                        </div>
                        <div class="row">

                            <div class="form-group col-md-4">
                                <label for="">Sum Total Sanctioned Rs. <span id="value">.</span></label>
                            </div>
                            <div class="form-group col-md-2"></div>
                            <div class="form-group col-md-4">
                                <label for="">Application Sanction. <span id="appsanc">.</span></label>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4"></div>
                <div class="form-group col-md-4">
                    <button type="button" class="btn-primary" onclick="Back()">Back to Office Note</button>
                </div>


            </div>
            <div id="elementH"></div>
            @* </div> *@

        </article>
    </div>
</div>

<script src="https://www.freakyjolly.com/multipage-canvas-pdf-using-jspdf/"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js"></script>
<script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
<script>
    $(document).ready(function () {
        var table = document.getElementById("dtBasicExample"), sumVal = 0; apcount = 0;
        for (i = 1; i < table.rows.length; i++) {


            sumVal = sumVal + parseInt(table.rows[i].cells[4].innerHTML);
            apcount = table.rows.length - 1;
        }
        document.getElementById("val").innerHTML = ":" + sumVal;
        document.getElementById("value").innerHTML = ":" + sumVal;

        document.getElementById("appcount").innerHTML = ":" + apcount;
        document.getElementById("appsanc").innerHTML = ":" + apcount;
    });

    function getPDF() {

        var HTML_Width = $(".PDF").width();
        var HTML_Height = $(".PDF").height();
        var top_left_margin = 15;
        var PDF_Width = HTML_Width + (top_left_margin * 2);
        var PDF_Height = (PDF_Width * 1.5) + (top_left_margin * 2);
        var canvas_image_width = HTML_Width;
        var canvas_image_height = HTML_Height;

        var totalPDFPages = Math.ceil(HTML_Height / PDF_Height) - 1;


        html2canvas($(".PDF")[0], { allowTaint: true }).then(function (canvas) {
            canvas.getContext('2d');

            console.log(canvas.height + "  " + canvas.width);


            var imgData = canvas.toDataURL("image/jpeg", 1.0);
            var pdf = new jsPDF('p', 'pt', [PDF_Width, PDF_Height]);
            pdf.addImage(imgData, 'JPG', top_left_margin, top_left_margin, canvas_image_width, canvas_image_height);


            for (var i = 1; i <= totalPDFPages; i++) {
                pdf.addPage(PDF_Width, PDF_Height);
                pdf.addImage(imgData, 'JPG', top_left_margin, -(PDF_Height * i) + (top_left_margin * 4), canvas_image_width, canvas_image_height);
            }

            pdf.save("HTML-Document.pdf");
        });
    };
    function Back() {

        window.location.href = "/SanctionMedicalBills/OfficeNote";
    };
</script>

